body {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

  h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  }

  .fmc-faculty-highlight-text p {
    font-family: 'Josefin Slab', serif;
    font-size: 1.4rem;
  }

  .fmc-health-reminders {
    p {
      font-size: .8rem;
    }
    .fmc-health-reminders-photo {
      width: 92px;
      border-radius: 0.4rem .4rem 0 0;
    }
    figcaption.wp-caption-text {
      font-size: .6rem;
      padding: .4rem;
    }
  }

  .fmc-gallery-with-captions {
    img {
      width: 100%;
    }
  }

  .fmc-faculty-physician-bios {
    strong:first-of-type {
      border-bottom: 1px solid;
      display: block;
    }
    .columns {
      p {
        padding: 1rem;
        background-color: #eeeeee;
        &:nth-child(even) {
          background-color: #dddddd;
        }
      }
      &:nth-child(odd) {
        p {
          background-color: #dddddd;
          &:nth-child(even) {
            background-color: #eeeeee;
          }
        }
      }
    }
  }
.full-width {
  max-width: 100% !important;
  .row{
    margin: 0 auto;
    max-width: 71.25rem;
    width: 100%;
  }
}
  .background-stripe {
    background: linear-gradient( rgba(255, 255, 255, 0.60), rgba(0, 0, 0, 0.60) ),
    url("../img/fmc-hero.jpg");
    background-size: cover;
    max-width: none !important;
    margin: 3rem 0 !important;
    padding: 3rem;
    background-position: center bottom;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, .2) inset, 0px -3px 3px rgba(0, 0, 0, .2) inset;
    .fa {
      padding-bottom: 1rem;
      color: $fmc-blue-green;
    }
    .panel {
      background-color: rgba(255, 255, 255, .7);
      box-shadow: 0px 2px 3px rgba(0, 0, 0, .5);

    }
  }
  //.orbit-container .orbit-slides-container > * .orbit-caption {
  //  position: absolute;
  //  bottom: 0;
  //  background-color: rgba(51, 51, 51, 0.8);
  //  color: white;
  //  width: 100%;
  //  padding: 0.55556rem 0.77778rem;
  //  font-size: 0.77778rem;
  //}
  //.orbit-bullets {
  //  display: block;
  //  float: right;
  //  margin: 0 20px 30px auto;
  //  overflow: hidden;
  //  position: relative;
  //  text-align: center;
  //  top: -31px;
  //}
}
