.top-bar {
  .top-bar-section {
    ul {

      li {

        a {
          font-weight: bold;
        }

        &.active {
          background: $fmc-green;
          &:not(.has-form) a:not(.button):hover {
            background: $fmc-green;
          }
        }
        &:not(.has-form) a:not(.button):hover {
          background: $fmc-green;
        }

        background: transparent;
      }
    }
    ul li:hover:not(.has-form) > a,
    li.active:not(.has-form) a:not(.button) {
      background: $fmc-blue-green;
    }

    //fix for inconsistent background
    .dropdown li:not(.has-form):not(.active):hover > a:not(.button) {
      background: $fmc-green;
    }
  }

  form#searchform {
    input#searchsubmit {
      background: $fmc-green;
    }
  }

  @media #{$large-up} {
    .has-form.has-form-search {
      padding-right: 0;
    }
    .top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
      background: $fmc-blue-green;
    }
  }
}

